version: '3.7'
services:

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
    volumes:
      - mongo_data:/data/db
    
  mongo-express:
    image: mongo-express
    container_name: mongo-gui
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=${MONGO_USERNAME}
      - ME_CONFIG_MONGODB_ADMINPASSWORD=${MONGO_PASSWORD}
      - ME_CONFIG_MONGODB_SERVER=mongo
    depends_on:
      - mongo
  
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6380:${REDIS_PORT}"
    command: redis-server
    volumes:
      - redis_data:/data

  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
    ports:
      - "5673:${RABBITMQ_PORT}"
      - "15673:15672"
    volumes:
      - rabbit_data:/data
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 10s
      retries: 2

  bot:
    build:
      context: .
      dockerfile: dev.Dockerfile
    container_name: bot
    entrypoint: python3 __main__.py
    volumes:
      - ./engbot:/code/bot/engbot
    depends_on: 
      mongo:
        condition: service_started
      rabbitmq:
          condition: service_healthy

  celery:
    build:
      dockerfile: dev.Dockerfile
      context: .
    container_name: celery
    entrypoint: celery -A engbot.tasks.tasks:scheduler worker
    volumes:  
      - ./engbot:/code/bot/engbot
    depends_on:
      bot:
        condition: service_started
      rabbitmq:
        condition: service_healthy
      
  flower:
    build:
      dockerfile: dev.Dockerfile
      context: .
    container_name: flower
    entrypoint: celery -A engbot.tasks.tasks:scheduler flower --loglevel=info
    ports:
      - "5555:5555"
    volumes:
      - ./engbot:/code/bot/engbot
    depends_on:
      celery:
        condition: service_started
      rabbitmq:
        condition: service_healthy

volumes:
  mongo_data:
  redis_data:
  rabbit_data:
